@font-face {
    font-family: "grechen";
    src: url("../fonts/GrechenFuemen-Regular.ttf");
}

h1, h2, h3, h4 {
    /* color: #0f495d; */
    font-family: "grechen";
}

body {
    background-color: rgb(215, 222, 228);
}

.Titulo {
    text-align: center;
}

.carousel {
    margin: auto;
    width: 40%;
    border-radius: 10px;
}

.loginField {
    width: 50%;
}

.carousel-item {
    /* background-color: black; */
    background-color: rgb(46, 86, 121);
}

#radiobutton {
    display: flex;
    margin-left: 32%;
}
